# Ambiente / SO
.env
.env.*
.DS_Store
Thumbs.db
desktop.ini
*.lnk

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Electron / Build / Dist
dist/
build/
out/
release/
*.log
*.exe

# IDEs
.vscode/
.idea/


# --- Regras Automáticas Adicionais (Git Auto) ---
.flaskenv*
.flasken
!.env.example
*_token.json
*token*.json
secrets.json
credentials.json
*.pem
*.key
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
*.egg-info/
coverage/
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
target/
.gradle/
*.o
*.obj
*.dll
*.so
*.dylib
*.out
*.app
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
bin/
.pnp
.pnp.js
.next/
.env.local
.env.development.local
.env.test.local
.env.production.local
.godot/
*.translation
export_presets.cfg
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
tmp/
